<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="favicon.ico">#}

    <title>SPA Frontend</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/themes/practice/frontend/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block stylesheets %}
    <link href="{{ asset('/themes/practice/frontend/css/styles.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ application_shortname }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% include('BraindigitCommonBundle::Frontend/header_menu.html.twig') %}
            {% if not app.user %}
                {% include('BraindigitCommonBundle::Frontend/header_login.html.twig') %}
            {% else %}
                {% include('BraindigitCommonBundle::Frontend/header_userinfo.html.twig') %}
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% block body %}{% endblock %}
    </div>

    <hr>

    <footer>
        <p>&copy; {{ application_name }} {{ "now"|date('Y') }}</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
<script src="{{ asset('/themes/practice/frontend/js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ asset('/themes/practice/frontend/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
