{% extends 'BraindigitCommonBundle::Backend/layout.html.twig' %}

{% macro selectbox(name, options, selected, id, class) %}
    <select class="{{ class }}" id="{{ id }}" name="{{name}}">
        {% for option in options %}
            {% if option.value == selected %}
                <option value="{{option.value}}" selected>{{ option.value }}</option>
            {% else %}
                <option value="{{option.value}}">{{ option.value }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}
{% import _self as forms %}

{% block title %}Users{% endblock %}
{% block page_header %}Users{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/themes/practice/backend/adminlte/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#user_search').keypress(function(e) {
                if(e.which == 13) {
                    jQuery('form#userlistfrm').submit();
                    return false;
                }
            });
            jQuery('#user_rpp').change(function() {
                jQuery('form#userlistfrm').submit();
            });
            jQuery('#btnSearchReset').on('click', function() {
                jQuery('#user_search').val('');
                jQuery('form#userlistfrm').submit();
            });
            jQuery('.deleteUser').on('click', function(e) {
                e.preventDefault();
                if(confirm('Are you sure?')) {
                    jQuery('#delete_user_id').val(jQuery(this).attr('data-id'));
                    jQuery('form#userdelfrm').submit();
                }
            });
        });
    </script>
{% endblock %}
{% block main_content %}

    <div class="box">
        <div class="box-body">
            <div id="userlist_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    {% set queryParams = app.request.query.all %}
                    <form method="POST" id="userdelfrm" action="{{ path('braindigit_user_delete', queryParams) }}">
                        <input type="hidden" name="id" id="delete_user_id" value="0">
                    </form>
                    <form method="GET" id="userlistfrm" action="{{ path('braindigit_user_list') }}">
                        <input type="hidden" name="{{ query_param_sort }}" value="{{ app.request.get(query_param_sort, list_data.sort_field) }}">
                        <input type="hidden" name="{{ query_param_direction }}" value="{{ app.request.get(query_param_direction, list_data.sort_direction) }}">
                        <div class="col-sm-6">
                            <div id="example1_length" class="dataTables_length">
                                <label>Show {{ forms.selectbox('rpp', rpp_options, rpp, 'user_rpp', 'form-control input-sm') }} entries</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm pull-right">
                                <input type="text" id="user_search" name="search" value="{{ search }}" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">Go</button>
                                    <button type="button" id="btnSearchReset" class="btn btn-danger btn-flat">Clear</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="usersList" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                {% set direction = pagination.getDirection() %}
                                <th class="{% if pagination.isSorted('id') %}sorting_{{ direction }}{% else %}sorting{% endif %}">{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                                <th class="{% if pagination.isSorted('fullname') %}sorting_{{ direction }}{% else %}sorting{% endif %}">{{ knp_pagination_sortable(pagination, 'Name', 'fullname') }}</th>
                                <th class="{% if pagination.isSorted('username') %}sorting_{{ direction }}{% else %}sorting{% endif %}">{{ knp_pagination_sortable(pagination, 'Username', 'username') }}</th>
                                <th class="{% if pagination.isSorted('email') %}sorting_{{ direction }}{% else %}sorting{% endif %}">{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                                <th class="{% if pagination.isSorted('lastLogin') %}sorting_{{ direction }}{% else %}sorting{% endif %}">{{ knp_pagination_sortable(pagination, 'Last login', 'lastLogin') }}</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in pagination %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.fullname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{% if user.lastLogin is not null %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>
                                        <span><a href="{{ path('braindigit_user_form', { id: user.id }) }}"><i class="fa fa-edit"></i></a></span>
                                        <span><a class="deleteUser" data-id="{{ user.id }}" href="#"><i class="fa fa-trash"></i></a></span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div aria-live="polite" role="status" id="userlist_info" class="dataTables_info">
                            Total : {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="userlist_paginate">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

    {#
    <table>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
        </tr>
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
            </tr>
        {% endfor %}
    </table>
    #}
    {# display navigation #}
{% endblock %}