{% extends '::layout.html.twig' %}
{% block title %}Users{% endblock %}
{% block page_header %}Users{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/adminlte/plugins/bootgrid/jquery.bootgrid.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- datatables -->
    <script src="{{ asset('/adminlte/plugins/bootgrid/jquery.bootgrid.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/adminlte/plugins/bootgrid/jquery.bootgrid.fa.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#usersList").bootgrid();
        });
    </script>
{% endblock %}
{% block main_content %}

    <div class="box">
        <div class="box-body">
            <div id="userlist_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="example1_length" class="dataTables_length">
                            <label>Show <select class="form-control input-sm" aria-controls="example1" name="example1_length">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_filter" id="example1_filter">
                            <label>Search:<input aria-controls="example1" placeholder="" class="form-control input-sm" type="search">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="usersList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                                {% set direction = pagination.getDirection() %}
                                <th{% if pagination.isSorted('fullname') %} class="sorted {{ direction }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'fullname') }}</th>
                                <th{% if pagination.isSorted('username') %} class="sorted {{ direction }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'Username', 'username') }}</th>
                                <th{% if pagination.isSorted('email') %} class="sorted {{ direction }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                                <th{% if pagination.isSorted('lastLogin') %} class="sorted {{ direction }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last login', 'lastLogin') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in pagination %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.fullname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{% if user.lastLogin is not null %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div aria-live="polite" role="status" id="userlist_info" class="dataTables_info">
                            Total : {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="userlist_paginate">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

    {#
    <table>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
        </tr>
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
            </tr>
        {% endfor %}
    </table>
    #}
    {# display navigation #}
{% endblock %}