{% macro flashmessage(type, class) %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ class }} alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro selectbox(name, options, selected, id, class) %}
    <select class="{{ class }}" id="{{ id }}" name="{{name}}">
        {% for option in options %}
            {% if option.value == selected %}
                <option value="{{option.value}}" selected>{{ option.value }}</option>
            {% else %}
                <option value="{{option.value}}">{{ option.value }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}